<%- include ('../../partials/header.ejs') %>
<%- include ('../../partials/navbar.ejs') %>
<div class="container grid justify-items-center border border-solid  preencher-body pb-4">
    <div class="grid justify-stretch border border-solid mt-2 w-6/12  rounded-md">
        <div class="">
            <h2 class="text-2xl  p-2 border-solid border-b-2  border-gray-400">Artigos</h2>
            <a href="/admin/articles/new">
                <%- include ('../../components/button_cadastrar.ejs', { buttonText: 'Cadastrar artigos' }) %>
            </a>
            
        </div>
        <table class="mt-4">
            <thead>
                <tr>
                    <th class="border border-gray-400">ID</th>
                    <th class="border border-gray-400">TITÚLO</th>
                    <th class="border border-gray-400">SLUG</th>
                    <th class="border border-gray-400">CATEGORIA</th>
                    <th class="border border-gray-400">AÇÕES</th>
                </tr>
            </thead>
            <tbody>
                <% articles.forEach(article =>{ %>
                    <tr class="content-center">
                        <td class="border border-gray-400"><%= article.id %></td>
                        <td class="border border-gray-400"><%= article.title %></td>
                        <td class="border border-gray-400"><%= article.slug %></td>
                        <td class="border border-gray-400"><%= article.category.title %></td>
                        <td class="border border-gray-400">
                            <%- include ('../../components/button_editar_artigo.ejs', { text_button: 'Editar', article_id : article.id }) %>
                            <%- include ('../../components/button_deletar_artigo.ejs', { text_button: 'Deletar', article_id : article.id }) %>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
</div>
<%- include ('../../partials/footer.ejs') %>
