<%- include ('../../partials/header.ejs') %>
<%- include ('../../partials/navbar.ejs') %>
<div class="container grid justify-items-center border border-solid  preencher-body pb-4">
    <div class="grid justify-stretch border border-solid mt-2 w-6/12  rounded-md">
        <div class="">
            <h2 class="text-2xl  p-2 border-solid border-b-2  border-gray-400">Usuários</h2>
            <a href="/admin/users/create">
                <%- include ('../../components/button_cadastrar.ejs', { buttonText: 'Cadastrar usuários' }) %>
            </a>
            
        </div>
        <table class="mt-4">
            <thead>
                <tr>
                    <th class="border border-gray-400">ID</th>
                    <th class="border border-gray-400">NOME</th>
                    <th class="border border-gray-400">EMAIL</th>
                    <th class="border border-gray-400">PERMISSÃO</th>
                    <th class="border border-gray-400">AÇÕES</th>
                </tr>
            </thead>
            <tbody>
                <% user.forEach(user =>{ %>
                    <tr class="content-center">
                        <td class="border border-gray-400 text-center"><%= user.id %></td>
                        <td class="border border-gray-400 text-center"><%= user.name %></td>
                        <td class="border border-gray-400 text-center"><%= user.email %></td>
                        <td class="border border-gray-400 text-center"><%= user.admin%></td>
                        <td class="border border-gray-400 text-center">
                            <%- include ('../../components/button_editar_usuario.ejs', { text_button: 'Editar', user_id : user.id }) %>
                            <%- include ('../../components/button_deletar_usuario.ejs', { text_button: 'Deletar', user_id : user.id }) %>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
</div>
<%- include ('../../partials/footer.ejs') %>
<script src="/scripts/menus_active.js"></script>
